<!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title><%= title %></title>
        <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
        </head>
      <body>
        <nav class="navbar">
            <div class="hamburger" id="hamburger">&#9776;</div>
            <div class="logo" id="logo">OrchiCare</div>
            
            <ul class="nav-links" id="navLinks">
              <li><a href="#">Home</a></li>
              <li><a href="/">Monitoring</a></li>
              <li><a href="/pengaturan">Pengaturan</a></li>
            </ul>
          
            <div class="user-profile" id="userProfile">
              <span id="userName">Username</span>
              <img src="default-avatar.png" alt="Profile" id="profilePic">
            </div>
          </nav>