<%- include('layouts/main', { 
    title: 'Controlling', 
    body: `
    
    <div class="card-control" id="fanCard">
        <img id="fanImage" src="assets/img/fan-off.png" alt="Fan">
        <h3>Kipas</h3>
        <button id="fanButton">OFF</button>
      </div>
    
      <div class="card-control" id="sprinkleCard">
        <img id="sprinkleImage" src="assets/img/sprinkle-off.png" alt="Sprinkle">
        <h3>Penyiraman</h3>
        <button id="sprinkleButton">OFF</button>
      </div>
    
    `
}) %>