<%- include('layouts/main', { 
    title: 'Detail Suhu Greenhouse', 
    body: `
        <div class="card">
    <div class="title">Suhu Greenhouse</div>
    <div class="chart-container">
      <canvas id="tempChart"></canvas>
      <div class="gauge-value" id="tempValue">--°C</div>
    </div>
    <div class="range"><span id ="min-suhu"></span><span></span><span id="max-suhu"></span></div>

    <div class="detail-section">
      <h3>Detail</h3>
      <div class="detail-row">
        <span>Sensor</span>
        <span class="status-pill" id="sensorStatus">--</span>
      </div>
      <div class="detail-row">
        <span>Penyiraman</span>
        <span class="status-pill status-off" id="wateringStatus">--</span>
      </div>
      <div class="detail-row">
        <span>Kipas</span>
        <span class="status-pill status-off" id="fanStatus">--</span>
      </div>    
    </div>
  </div>

  <a href="/" class="btn-back">Kembali</a>
  <script src="/js/detailSuhu.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    `
}) %>
