<%- include('layouts/main', { 
    title: 'Halaman Utama', 
    body: `
     <div class="card">
  <div class="title">Kelembapan Tanaman</div>
  <div class="chart-container">
    <canvas id="plantHumChart"></canvas>
    <div class="gauge-value" id="plantHumValue">--%</div>
  </div>
  <div class="range"><span>20</span><span>80</span></div>

  <div class="detail-section">
    <h3>Detail</h3>
    <div class="detail-row">
      <span>Sensor</span>
      <span class="status-pill" id="sensorStatus">--</span>
    </div>
    <div class="detail-row">
      <span>Penyiraman</span>
      <span class="status-pill status-off" id="wateringStatus">--</span>
    </div>
  </div>
</div>

<a href="/" class="btn-back">Kembali</a>
    `
}) %>
