<%- include('layouts/main2', { 
    title: 'lupa password', 
    body: `
    <div class="container">
        <div class="card">
        <h2>Lupa Password</h2>
        <p>Masukkan email kamu untuk mereset password.</p>
        <form action="/forgot-password" method="post">
            <div class="input-group">
            <input type="email" name="email" id="email" required placeholder="Alamat Email" />
            </div>
            <button type="submit">Kirim Request</button>
        </form>
        </div>
    </div>
    `
}) %>