<%- include('layouts/main2', { 
    title: 'login', 
    body: `
    
  <div class="wrapper">
    <div class="login-container">
      <h2>Selamat Datang</h2>
      <p class="subtitle">Login ke akun OrchiCare Anda</p>

      <form id="login-form" action="/login" method="post">
        <div class="input-group">
          <input type="email" name="email" id="email" required placeholder="Alamat Email" />
        </div>
        <div class="input-group">
          <input type="password" name="password" id="password" required placeholder="Password" />
        </div>
        <button type="submit">Login</button>
      </form>
      <a href="/forgot-password" class="forgot-link">Lupa Password?</a>
    </div>
     <div class="logo-container">
     <img src="assets/img/logoorchicare.png" alt="Logo" class="circle-logo" width="180" height="180" />
      <h3 class="brand-subtitle">Handle With Care</h3>
    </div>

  </div>
  
    `
}) %>