<%- include('layouts/main', { 
    title: 'Pengaturan', 
    body: `

    <div class="card-mode">
        <h4> Sistem dalam Mode Otomatis</h4>
        <p>Sistem Berjalan Otomatis</p>
        <a href="#" class="detail-button">Ubah mode ?</a>
      </div>
     
      <div class="card-batasan">
        <div class="title">Ubah Nilai Batasan</div>
        <form id="limitForm">
          <div style="margin-bottom: 1rem;">
            <label>Suhu Greenhouse:</label><br/>
            <input type="number" id="minTemp" placeholder="Min Suhu (°C)" required /> -
            <input type="number" id="maxTemp" placeholder="Max Suhu (°C)" required />
          </div>
      
          <div style="margin-bottom: 1rem;">
            <label>Kelembapan Greenhouse:</label><br/>
            <input type="number" id="minHum" placeholder="Min Kelembapan (%)" required /> -
            <input type="number" id="maxHum" placeholder="Max Kelembapan (%)" required />
          </div>
      
          <div style="margin-bottom: 1rem;">
            <label>Kelembapan Tanaman:</label><br/>
            <input type="number" id="minPlantHum" placeholder="Min Kelembapan Tanaman (%)" required /> -
            <input type="number" id="maxPlantHum" placeholder="Max Kelembapan Tanaman (%)" required />
          </div>
      
          <button type="submit" class="detail-button">Simpan Batasan</button>
        </form>
      </div>

    `
}) %>
