<%- include('layouts/main', { 
    title: 'Profil Pengguna', 
    body: `
        <div class="profile-container">
    <div class="profile-photo">
      <img src="/assets/user.png" alt="Profile Photo">
    </div>
    <div id="profile-name">Memuat...</div>
    <div id="profile-email">Memuat...</div>
    <ul class="settings-list">
      <a href="/edit_profil" style="text-decoration: none; color: inherit;">
        <li class="settings-item">
          <div class="setting-row">
            <i class="icon-edit"></i>
            <div class="settings-text">Edit Profile</div>
          </div>
        </li>
      </a>
    </ul>
  </div>

  <a href="/logout" class="btn-logout">Logout</a>


  <script src="/js/profil.js"></script>

    `
}) %>