<%- include('layouts/main2', { 
    title: 'reset password', 
    body: `
    <div class="container">
    <div class="card">
      <h2>Reset Password</h2>
      <p>Masukkan password baru kamu di bawah ini.</p>
      <form method="post">
        <div class="input-group">
          <input type="password" name="password" id="password" required placeholder="Password Baru " />
        </div>
        <button type="submit">Reset Password</button>
      </form>
    </div>
  </div>
    `
}) %>