<%- include('layouts/main', { 
    title: 'ubah_nilai_batasan', 
    body: `
    
 <!-- <div class="card-control-main">
    <div class="card-control" id="fanCard">
        <img id="fanImage" src="assets/img/fan-off.png" alt="Fan">
        <h3>Kipas</h3>
        <button id="fanButton">OFF</button>
      </div>
    
      <div class="card-control" id="sprinkleCard">
        <img id="sprinkleImage" src="assets/img/sprinkle-off.png" alt="Sprinkle">
        <h3>Penyiraman</h3>
        <button id="sprinkleButton">OFF</button>
      </div>
    </div> -->

<div class="card-batasan">
      <div class="title">Ubah Nilai Batasan</div>
      <form id="limitForm" action="/kontrol/limits" method="POST">
        <div style="margin-bottom: 1rem;">
          <label>Suhu Greenhouse:</label><br/>
          <input type="number" id="minTemp" name="minTemp" placeholder="Min Suhu (°C)" required /> -
          <input type="number" id="maxTemp" name="maxTemp" placeholder="Max Suhu (°C)" required />
        </div>
    
        <div style="margin-bottom: 1rem;">
          <label>Kelembapan Greenhouse:</label><br/>
          <input type="number" id="minHum" name="minHum" placeholder="Min Kelembapan (%)" required /> -
          <input type="number" id="maxHum" name="maxHum" placeholder="Max Kelembapan (%)" required />
        </div>
    
        <div style="margin-bottom: 1rem;">
          <label>Kelembapan Tanaman:</label><br/>
          <input type="number" id="minPlantHum" name="minPlantHum" placeholder="Min Kelembapan Tanaman (%)" required /> -
          <input type="number" id="maxPlantHum" name="maxPlantHum" placeholder="Max Kelembapan Tanaman (%)" required />
        </div>
    
        <button type="submit" class="detail-button">Simpan Batasan</button>
      </form>
  </div>

    `
}) %>