<%- include('layouts/main', { 
    title: 'Monitoring Greenhouse', 
    body: `
<div class="card-container">
  <div class="card">
    <div class="title">Suhu Greenhouse</div>
    <div class="chart-container">
      <canvas id="tempChart"></canvas>
      <div class="gauge-value" id="tempValue">--°C</div>
    </div>
    <div class="range"><span id="min-suhu"></span><span></span><span id="max-suhu"></span></div>
    <a href="/detail_temp" class="detail-button">Detail</a>
  </div>

  <div class="card">
    <div class="title">Kelembaban Greenhouse</div>
    <div class="chart-container">
      <canvas id="humChart"></canvas>
      <div class="gauge-value" id="humValue">--%</div>
    </div>
    <div class="range"><span id="min-kgh"></span><span></span><span id="max-kgh"></span></div>
    <a href="/detail_hum" class="detail-button">Detail</a>
  </div>

  <div class="card">
    <div class="title">Kelembaban Tanaman</div>
    <div class="chart-container">
      <canvas id="plantHumChart"></canvas>
      <div class="gauge-value" id="plantHumValue">--%</div>
    </div>
    <div class="range"><span id="min-kt"></span><span></span><span id="max-kt"></span></div>
    <a href="/detail_hum_plant" class="detail-button">Detail</a>
  </div>
</div>

<a href="/riwayat_monitoring" class="riwayat-button">Riwayat Monitoring</a>


<div id="iot-notification" class="notification hidden error">
  <span id="iot-message">Perangkat IoT belum terhubung.</span>
  <button id="reconnect-btn" onclick="tryReconnect()">Coba Sambungkan</button>
  <button class="close-btn" onclick="hideIoTNotification()">&times;</button>
</div>
<script src="/js/monitoring.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
` }) %>
