<%- include('layouts/main', { 
  title: 'Pengaturan', 
  body: `
<div class="card-mode">
  <h4 id="modeTitle">Sistem dalam Mode Otomatis</h4>
  <p id="modeDescription">Sistem Berjalan Otomatis</p>
  <a href="#" class="switch-button" onclick="showModal()">Ubah mode?</a>
  <p id="modeNotice" style="color: red; display: block;">* Mode otomatis aktif. Kontrol manual dinonaktifkan.</p>
</div>

<div class="card-control-main">
  <div class="card-control" id="fanCard">
    <img id="fanImage" src="assets/img/fan-off.png" alt="Fan">
    <h3>Kipas</h3>
    <button id="fanButton" class="control-button">OFF</button>
  </div>

  <div class="card-control" id="sprinkleCard">
    <img id="sprinkleImage" src="assets/img/sprinkle-off.png" alt="Sprinkle">
    <h3>Penyiraman</h3>
    <button id="sprinkleButton" class="control-button">OFF</button>
  </div>
</div>

<div class="container_batasan">
<div class="title-batasan">📊 Nilai Batasan</div>
  <div class="batasan-item">
    <div class="label">Suhu Greenhouse (°C)</div>
    <div class="nilai" id="suhu-greenhouse">
      <span id="min-suhu">--</span> - <span id="max-suhu">--</span>
    </div>
  </div>

  <div class="batasan-item">
    <div class="label">Kelembapan Greenhouse (%)</div>
    <div class="nilai" id="kelembapan-greenhouse">
      <span id="min-kgh">--</span> - <span id="max-kgh">--</span>
    </div>
  </div>

  <div class="batasan-item">
    <div class="label">Kelembapan Tanaman (%)</div>
    <div class="nilai" id="kelembapan-tanaman">
      <span id="min-kt">--</span> - <span id="max-kt">--</span>
    </div>
  </div>
  <a href="/pengaturan/ubah-nilai-batasan" class="btn-ubah-batasan">Ubah Nilai Batasan</a>
</div>

  <div id="modeModal" class="modal">
    <div class="modal-content">
      <span class="close-btn" onclick="closeModal()">&times;</span>
      <h3>Pilih Mode Sistem</h3>
      <div class="modal-buttons">
        <button class="auto-btn" onclick="setMode('otomatis')">Otomatis</button>
        <button class="manual-btn" onclick="setMode('manual')">Manual</button>
      </div>
    </div>
  </div>
  <script src="/js/pengaturan.js"></script>
  `
}) %>
